@model WebShop.Core.ViewModels.BasketSummaryViewModel
<ul class="nav navbar navbar-expand-lg navbar-dark">
    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Basket")">@Model.BasketCount items</a></li>
    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Basket")">@String.Format("{0:c}", Model.BasketTotal)</a></li>
</ul>
